.preview-image {
  height: 50px;
  width: 50px;
}
$color-row-hover: #777777;

.card-list-item-containe{
    margin-bottom: 20px;
  }

.card-item{
    height: 13%;
  }
.mat-divider-padding{
  padding-top: 1em;
}
.item-padding{
  padding-top: 1em;
}
  