<div *ngIf="showSpinner" class="spinner-container"  fxLayoutAlign="center" style="height:100%">
  <div class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner>
  </div>
</div>

<div class="container">
  <div *ngIf="listItems == 0 ; then thenBlock else elseBlock"></div>  
    <div class="row">   
      <ng-template #thenBlock> 
        <mat-card class="card-shopping-cart-empty">          
          <div class="col-12">
            <div class="text-empty-shopping-cart">
              <h1>No tienes compras hechas</h1>
            </div>                 
          </div>           
        </mat-card>                               
      </ng-template> 
    </div>
      <ng-template #elseBlock>
        <mat-card class="card-game">
          <div class="row" *ngFor="let item of listItems" >
            <div class="col-12 col-sm-3 col-md-2">
              <img class="preview-image" mar-card-image src="/Upload/{{item.game.coverFileName}}" alt="Game cover image">
            </div>
            <div class="col-12 col-sm-9 col-md-4 name-game" >
              <h4>{{item.game.title}}</h4>
            </div>
            <div class="col-4 col-sm-6 col-md-2" >
              <div class="input-number">
                <div class="input-number__delete">
                  <button class="input-number__delete__button" [disabled]="item.quantity < 2 ? true : false" mat-icon-button color="warn" (click)="deleteOneCartItem(item.game.gameId)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
                <div class="input-number__text">              
                  <h2 class="input-number__text__quantity">{{item.quantity}}</h2>
                </div>              
                <div class="input-number__add">
                  <button class="input-number__add__button" mat-icon-button color="primary" (click)="addOneCartItem(item.game.gameId)">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>         
              </div>
            </div>
            <div class="col-5 col-sm-4 col-md-2 price" >
              <h4>${{item.game.price * item.quantity}}</h4>
            </div>
            <div class="col-3 col-sm-2  col-md-2 delete">
              <button type="button" mat-icon-button color="accent" (click)="deleteCartItem(item.game.gameId)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
          <div class="row">
            <div class="col">
              <div class="divider">
                <mat-divider></mat-divider>
              </div>
              <div  class="float-right divider">
                <h1>Total a Pagar: ${{totalPriceCart}}</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="divider">
                <mat-divider></mat-divider>
              </div>       
              <div  class="checkout-button">
                <button class="btn-success btn-lg float-right" mat-raised-button color="primary" (click)="checkOutUser()">
                  CheckOut
                </button>             
              </div>
            </div>
          </div>        
        </mat-card> 
      </ng-template>
</div>









