<!-- Footer -->
<footer class="bg-dark text-center text-lg-start bg-light text-white">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <mat-icon>games</mat-icon>TakuGames
          </h6>
          <p>
            <mat-icon>work</mat-icon>Un proyecto de practica
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <mat-icon>laptop</mat-icon>Tecnologia
          </h6>
          <p>
            <a href="#!" class="text-reset">Net Core 3.1</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Angular 8</a>
          </p>
        </div>
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <mat-icon>account_circle</mat-icon>Contacto
          </h6>
          <p><mat-icon>home</mat-icon> Buenos Aire, Argentina</p>
          <p>
            <mat-icon> email</mat-icon>
            info@gmail.com
          </p>
          <p><mat-icon> call</mat-icon>+ 11 111 111 11</p>
        </div>
      </div>
    </div>
  </section>

   <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <mat-icon>copyright</mat-icon>2021 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/carFeiDev">carFeiDev github</a>
  </div>

</footer>

