<div class="container">
  <ng-container *ngIf="favoritelistItems$ | async as favoritelistItems" >
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    <div style="padding-top:3em; padding-bottom:2em">
      <h2>Mis Favoritos</h2>
    </div>
    <mat-card class="card-favorite">               
      <div *ngIf="favoritelistItems.length>0; else emptycart">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="delete-all">
              <button class="buttom-delete-all" mat-raised-button (click)="clearFavoritelist()">
                  Eliminar todos
                </button>
              </div>             
            </div>
          </div>          
        <div class="row" style="padding-top:2em;padding-bottom:1em">
          <mat-divider></mat-divider>
        </div> 
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3" *ngFor="let item of favoritelistItems" style="padding-top:0em;padding-bottom:1em">             
          <div class="col-12 col-sm-2 col-md-3 col-lg-2 col-xl-2">
            <img class="preview-image" matTooltip={{item.title}} matTooltipPosition="after" src="/Upload/{{item.coverFileName}}">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <div class="col">
              <a [routerLink]="['/games/details/',item.gameId]">
                {{item.title}}
              </a>
            </div>
            <div class="col">
              <h5>{{ item.price | currency : 'INR' }}</h5>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="add">
              <div class="button-add">
                <app-addtofavoritelist [gameId]="item.gameId" [showButton]="true"></app-addtofavoritelist>
              </div>            
            </div>                                                       
          </div>
        <div class="row" style="padding-top:1em; padding-bottom:0em">
          <mat-divider></mat-divider>
        </div>  
        </div>            
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="back">
              <button class="btn-dark button-back" [routerLink]='["/"]'>         
                Volver   
              </button>
            </div>
          </div>
        </div>
      </div>
        <ng-template #emptycart>
          <div class="row" *ngFor="let item of listItems" style="padding-top:2em">
            <mat-divider></mat-divider>
          </div>
            <div class="row">
              <div class="col">
                <div style="padding-top:2em">
                  <mat-divider></mat-divider>
                </div>
                <div class="m-0 vh-10 row justify-content-center align-items-center">
                  <h1 style="padding-top:2em">Tu lista de favoritos esta vacia</h1>
                </div>
              </div>
                <div style="padding-top:2em">
                  <mat-divider></mat-divider>
                </div>
            </div>
            <div class="row">
              <div style="padding-top:10em; padding-bottom:3em">
                <mat-divider></mat-divider>
              </div>
            </div>    
            <div class="row">
              <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
                <div class="back">
                  <button type="button" class="btn-dark button-back" [routerLink]='["/"]'>         
                    Volver   
                    </button>                    
                  </div>
                </div>
              </div>                         
        </ng-template>
    </mat-card>
  </ng-container>
</div>
