$color-row-border: #dee2e6;


.game-image {
  width:100%;
  max-width:380px;

}

.div1 {
  position: relative;
}

.div1 .div2 {
  position: absolute;  
  top: 0;  
  left: 0;
  opacity: 0;
  transition: .5s;
}

.div1:hover .div2 {
  opacity: 1;
}
