<div *ngIf="showSpinner" class="spinner-container"  fxLayoutAlign="center" style="height:100%">
  <div class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <input class="form-control" type="search" placeholder="Buscar juego" aria-label="Search" [(ngModel)]="filtergames">
      <h3>Filtros por genero</h3>
      <div class="category-game-container">
        <mat-card>
          <app-game-filter  [category]="category"></app-game-filter>
        </mat-card>
      </div>
      <!-- <app-price-filter (priceValue)="filterPrice($event)"></app-price-filter> -->
    </div>
    <div class="col">                             
      <div *ngIf="games == 0 ; then thenBlock else elseBlock"></div>              
        <ng-template #thenBlock> 
            <mat-card class ="card-game-empty">
              <h1>No se encontraron elementos con el filtro seleccionado</h1>
            </mat-card>
        </ng-template> 
        <ng-template #elseBlock>
          <div class="card-game-container">
            <!-- <mat-card  (mouseover)="changeText=true" (mouseout)="changeText=false"> -->
            <mat-card>
              <div *ngFor="let item of games | filterGames: filtergames">      
                <mat-divider></mat-divider>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">              
                  <div class="col-12 col-sm-3 col-md-3 preview-image-container" >
                    <img class="preview-image" mar-card-image src="/Upload/{{item.coverFileName}}" [routerLink]="['/games/details/', item.gameId]" alt="Game cover image">
                  </div>               
                  <div class="col-10 col-sm-8 col-md-8 game-description-container" >
                    <div class="game-title" [routerLink]="['/games/details/', item.gameId]">
                      {{item.title}}
                    </div>
                    <div class="game-price">
                      $ {{item.price}}
                    </div>                              
                  </div>               
                  <div class="col-2 col-sm-1 col-md-1 game-favorite-container">
                    <span *ngIf="changeText"><app-addtofavoritelist [gameId]="item.gameId"></app-addtofavoritelist></span>  
                    <app-addtofavoritelist [gameId]="item.gameId"></app-addtofavoritelist>                 
                  </div>        
                </div> 
              </div>
            </mat-card>   
          </div>
        </ng-template>                           
    </div>
  </div>
</div>

















