
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .table-container {
    width: 100%;
  }
  
  .card-img-top {
    height: 100px;
    width: 100px;
   /* object-fit: cover;*/
  }