.container {
  display: flex;
  position: relative;
  justify-content: center;
}
.left {
  left: 0;
}
.left:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards {
  //width: calc(100% - 80px);
  overflow: hidden;
}

.overflow {
  position: relative;
  transition: left 0.5s ease-in-out;
}

.w-100 {
  width: 100%!important;
}

.card-deck-container {
  display:  flex;
  flex: 1 1 1;
  flex-flow:  row wrap;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  width: 100%;
  position: relative;
  margin: 10px;
  justify-content: space-between;
}

.card-item {
  padding: 30px;
  align-items: center;
}

.right {
  right: 0;
}
.right:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left,.right {
  top: 40%;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: white;
  width:  64px;
  height: 64px;
}

.left.disabled, .right.disabled {
   visibility: hidden;
}

.left-icon,.right-icon{
  padding-left: 23px;
  padding-top:  23px;  
}







