<div class="">
    <div class="">
        <h2>Juegos similares</h2>
    </div>
</div>
<div class="container" #container>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}">
        <div class="left-icon">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
    </div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
            <div class="card-deck-container" >
                <div class="card-item" *ngFor="let i of SimilarGame$ | async as games; let index = index" [ngStyle]="{'width': cardWidth}">
                    <app-game-card [game]="i"></app-game-card>
                </div>
            </div>
		</div>
	</div>
	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"[ngClass]="{'disabled':currentPage === totalPages}">
        <div class="right-icon">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>



